/*
Basic Guidlines
1. Both the divisions have 10px Margin on all the sides 
2. Margin and padding of 15px
3. Heading font size - 35;
4. Heading font weight - 600
5. Basic Font weigth - 400
*/

body 
{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
	font-family: 'Poppins',sans-serif;
	color: #ebdbb2;
	background-color: #ebdbb2;
	overflow: hidden;
}
.sidebar-top 
{
    text-align: left;
    margin: 15px;
	padding-top: 15px;
	padding-left: 20px;
	line-height: 0.7cm;
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
}
.sidebar-bottom
{
    text-align: left;
    margin: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	line-height: 0.7cm;
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
}
.sidebar span 
{
    display: block;
    padding: 10px 0;
    color: white;
    cursor: pointer;
	color: #ebdbb2;
	font-size: 18px;
}
.sidebar 
{
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
    border-radius: 15px;
    width: 30%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	border: 2px solid #ebdbb2;
	background-color: #282828;
}
.mainwindow {
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 10px;
    background-color: #282828;
    width: 70%;
    flex: 2.5;
	border-radius: 15px;
	border: 2px solid #ebdbb2;
	display: flex;
	flex-direction: column;
}
.pagetitle {
    display: block;
    color: white;
    cursor: pointer;
	color: #ebdbb2;
	padding-left: 30px;
	padding-top: 15px;
	font-weight: 500;
	font-size: 35px;
	margin: 15px;
	font-weight: 600;
	padding-right: 30px;
}
.content
{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	padding-bottom: 30px;
	/*border: #ebdbb2 solid 1px;*/
	border-radius: 15px;
	margin-top: 15px;
}
.chatbot
{
	border: #ebdbb2 solid 2px;
	border-radius: 15px;
	margin: 15px;
	overflow: hidden;
}
.expanalysis
{
	border: #ebdbb2 solid 2px;
	border-radius: 15px;
	margin: 15px;
	overflow: hidden;
}
.bills
{
	border: #ebdbb2 solid 2px;
	border-radius: 15px;
	margin: 15px;
	overflow: hidden;
}
.budgets
{
	border: #ebdbb2 solid 2px;
	border-radius: 15px;
	margin: 15px;
	overflow: hidden;
}
.chart
{
	border: #ebdbb2 solid 2px;
	border-radius: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.sec1
{
	padding-bottom: 15px;
	height: 30%;
}
.sec2
{
	height: 30%;
}
.sec3
{
	padding-top: 15px;
	height: 36%;
}
.chatbot , .expanalysis, .bills, .budgets, .chart span
{
	align-items: left;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: 600;
}
.visual 
{
	height: 120px;
	align-items: center;
	text-align: center;
}
.visual img
{
	height: 300px;
	width: 300px;
	padding-top: 20px;
}