body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #1f2229;
    text-align: center;
    padding: 40px 0;
}

header img {
    max-width: 150px;
}

header h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: white;
}

header p {
    font-size: 1.5em;
    color: #fd5258;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul li:before {
    content: "\2022";
    color: #fd5258;
    margin-right: 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.feature {
    width: 48%;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature img {
    max-width: 80px;
    margin-bottom: 10px;
}
