<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

	<!--Linking Stylesheet-->
    <link rel="stylesheet" href="/app/static/css/aboutme.css">
	<link rel="stylesheet" href="/app/static/css/links.css">

	<!--Adding Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Roboto+Slab:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Adding Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Adding Bootstrap-->
    <link rel="stylesheet" href="/app/static/css/bootstrap-grid.min.css">

    <!--Adding Javascript-->
</head>
<body>
    <div class="sidebar"> 
        <div class="sidebar-top">
            <span>Profile</span>
            <a href="/app/templates/dashboard.html"><span>Dashboard</span></a>
            <span>Currency Swap</span>
        </div>
        <div class="sidebar-bottom">
            <span>Settings</span>
            <span>Notifications</span>
            <a href="/app/templates/aboutme.html"><span>About</span></a>
        </div>
    </div>
    <div class="mainwindow">
         <div class="pagetitle">Good Morning, Tanay</div>
             <div class="content">
				<div class="row py-3 col-12 main">
					<div class="profilepic col-6">
						<img src="/resources/profile.png" class="pic">
					</div>
					<div class="name col-6">
						<span class="title">Tanay Bhomia</span>
						<p class="about">
							I am a student at Mumbai University, India studying Bsc IT. I think that web development can be more diverse and inspiring when paired with proper vision. I want to gain experience in Web development and that is why I chose this project and this idea. Thanks for trying it!
						</p>
						<div class="row links col-12">
							<div class="col github">
								<a href="https://github.com"><img src="/app/static/img/icons/github.png" class="icon"></a>
							</div>
							<div class="col instagram">
								<a href="https://instagram.com"><img src="/app/static/img/icons/instagram.png" class="icon"></a>
							</div>
							<div class="col linkedin">
								<a href="https://linkedin.com"><img src="/app/static/img/icons/linkedin.png" class="icon"></a>
							</div>
							<div class="col twitter">
								<a href="https://twitter.com"><img src="/app/static/img/icons/twitter.png" class="icon"></a>
							</div>
						</div>									
					</div>
				</div>
				<div class=" row camera">
					<img src="/resources/slamills/Processor.png">
				</div>
             </div>
         </div>
    </div>
</body>
</html>