<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

	<!--Linking Stylesheet-->
    <link rel="stylesheet" href="/app/static/css/aboutme.css">

	<!--Adding Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Roboto+Slab:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Adding Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Adding Bootstrap-->
    <link rel="stylesheet" href="/app/bootstrap/bootstrap-grid.min.css">

    <!--Adding Javascript-->


</head>
<body>
    <div class="sidebar"> 
        <div class="sidebar-top">
            <span>Profile</span>
            <a href="/app/templates/dashboard.html"><span>Dashboard</span></a>
            <span>Currency Swap</span>
            <span>Goals</span>
        </div>
        <div class="sidebar-bottom">
            <span>Settings</span>
            <span>Notifications</span>
            <a href="/app/templates/aboutme.html"><span>About</span></a>
        </div>
    </div>
    <div class="mainwindow">
         <div class="pagetitle">About Me</div>
         <div class="content">
			<div class="row py-3">
				<div class="profilepic col-4">
					<img src="/app/static/img/profilepic.jpeg">
				</div>
				<div class="name col">
					<span class="title">Tanay Bhomia</span>
					<p class="about">
						I am a student at Mumbai University, India studying Bsc IT and love programming, Right now I am really interested into Web Front End Development and absolutly love Competetive Programming.
						<br>
						<br>
						Working to build a strong github presence with building better projects.
					</p>
					<div class="links row">
						<div class="col github">
							<a href="https://github.com/tanaybhomia" target="_blank">
								<img src="/app/static/img/icons/github.png" class="github">
							</a>
						</div>
						<div class="col instagram">
							<a href="https://www.instagram.com/tanaybhomia/">
								<img src="/app/static/img/icons/instagram.png" class="instagram">
							</a>
						</div>
						<div class="col linkedin">
							<a href="https://www.linkedin.com/in/tanay-bhomia-1b986414b/" target="_blank">
								<img src="/app/static/img/icons/linkedin.png" 		class="linkedin">
							</a>
						</div>
					</div>
				</div>
			</div>
		 </div>
    </div>
</body>
</html>
