<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bases</title>
	<!--Linking Stylesheet-->
    <link rel="stylesheet" href="/app/static/base.css">

	<!--Adding Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Roboto+Slab:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Adding Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="sidebar"> 
        <div class="sidebar-top">
            <span>Profile</span>
            <span>Dashboard</span>
            <span>Currency Swap</span>
            <span>Goals</span>
        </div>
        <div class="sidebar-bottom">
            <span>Settings</span>
            <span>Notifications</span>
            <span>About</span>
        </div>
    </div>
    <div class="mainwindow">
        <div class="pagetitle">Section Heading</div>
    </div>
</body>
</html>
