<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

	<!--Linking Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='links.css') }}">

	<!--Adding Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Roboto+Slab:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Adding Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Adding Bootstrap-->
    <link rel="stylesheet" href="/app/bootstrap/bootstrap-grid.min.css">

    <!--Adding Javascript-->


</head>
<body>
    <div class="sidebar"> 
        <div class="sidebar-top">
            <span>Profile</span>
            <a href="/app/templates/dashboard.html"><span>Dashboard</span></a>
            <span>Currency Swap</span>
        </div>
        <div class="sidebar-bottom">
            <span>Settings</span>
            <span>Notifications</span>
            <a href="/app/templates/aboutme.html"><span>About</span></a>
        </div>
    </div>
    <div class="mainwindow">
         <div class="pagetitle">Good Morning, Tanay</div>
             <div class="content">

                <div class="row sec1">
                    <div class="col chatbot">
                        <div class="title">
                            <span>Chatbot</span>
                        </div>
                        <div class="contents">
                            <span>Don't forget to enter your Expenses daily !</span>
                        </div>
                        <div class="image2">
                            <img src="/resources/slamills/HDD.png" class="visual2">
                        </div>
                    </div>
                </div>
                <div class="row sec2 px-3">
                    <div class="bills col">
                        <div class="title">
                            <span>Bills</span>
                        </div>
                        <div class="image">
                            <img src="/resources/slamills/Card-Reader.png" class="visual">
                        </div>
                    </div>
                    <div class="goals col">
                        <div class="title">
                            <span>Goals</span>
                        </div>
                        <div class="image">
                            <img src="/resources/slamills/Folder.png" class="visual">
                        </div>
                    </div>
                </div>
                <div class="row sec3 px-3">
                    <div class="budget col">
                        <div class="title">
                            <span>Budget</span>
                        </div>
                        <div class="image">
                            <img src="/resources/slamills/iMac.png" class="visual">
                        </div>
                    </div>
                    <div class="analysis col">
                        <div class="title">
                            <span>Analysis</span>
                        </div>
                        <div class="image">
                            <img src="/resources/slamills/Knob.png" class="visual">
                        </div>
                    </div>
                </div>
                <div class="row sec4 px-3">
                    <div class="chart col">
                        <div class="title">
                            <span>Chart</span>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</body>
</html>
