<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

	<!--Linking Stylesheet-->
    <link rel="stylesheet" href="/app/static/css/login.css">

	<!--Adding Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Roboto+Slab:wght@400;500;600&display=swap" rel="stylesheet">

    <!--Adding Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Adding Bootstrap-->
    <link rel="stylesheet" href="/app/static/css/bootstrap-grid.min.css">

    <!--Adding Javascript-->


</head>
<body>
    <div class="mainwindow">
		<div class="row main">
			<div class="sideimage col-4 ">
				<img src="/resources/slamills/Card-Reader.png" alt="">
			</div>
			<div class="login col-8 ">
				<div class="pagetitle">
					<span>Login</span>
				</div>
				<div class="content">
					<span>Username</span>
					<span>Password</span>
				</div>
			</div>
		</div>
    </div>
</body>
</html>
